@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background-color: #121212;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
}

h1,h2 {
    text-decoration: none;
    color: orange;
}

p {
    color: white;
}

a {
    color: #84e270;
    text-decoration: none;
}

li {
    color: #CCC;
    word-wrap: break-word;
    list-style: square;
}

table,tr,td {
    border-collapse: collapse;
    color: white;
    border: solid thin;
    padding: 0.5rem;
}

.posts a {
    display: block;
    margin: 1rem;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

time {
    color: lightblue;
}

main {
    margin: 0 1em;
}

header {
    text-align: center;
    margin: 0.5em;
}

footer {
    margin-top: auto;
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    main a[href="/blog"] {
        float: right;
    }
}
